/* I made it look like in the progress of scanning */
body {
    margin: 0;
    padding: 0;
    background-image: url('scanning.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.image-stack {
    position: relative; /* Set positioning context for absolute positioning */
    width: 100vw; /* Width to fit the viewport width */
    height: 100vh; /* Height to fit the viewport height */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Align items in two columns */
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.item {
    flex-basis: calc(33.33% - 20px); /* Three columns with gap */
    margin-bottom: 20px; /* Adjust spacing between rows */
    position: relative;
}

.item:nth-child(n+4) {
    flex-basis: calc(25% - 20px); /* Four columns with gap */
}

img {
    max-width: 100%; 
    max-height: 100%; 
    width: auto;
    height: auto; 
    display: block; /* Remove any extra space around images */
}

.circle-overlay {
    position: absolute;
    width: 100px; 
    height: auto; 
    z-index: 999; 
    animation: rotateCircle 5s linear infinite; /* Rotating feature */
}

.circle-overlay img {
    width: 100%; /* Ensure the image fills the circle overlay */
}

/* First and second circles located left top and bottom right*/
.first-circle {
    top: 300px;
    left: 200px; 
    width: 100px; 
}

.second-circle {
    bottom: 20px; 
    right: 20px; 
    width: 500px; 
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg); /* Rotate from 0 degrees */
    }
    to {
        transform: rotate(360deg); /* Rotate to 360 degrees */
    }
}



div.tab {
    width:50%;
    margin-left: left;
    line-height: 0.75;
}


img{
    width: 100%;
}

div.random {
    transition: 0.7s;
    position: relative;
}

div.item.a {
    border-width: 50%;
    transform: rotate(3.142rad); /* Rotate as motion */
}

div.item.b {
    width: 500%;
}

div.item.c {
    width: 200%;
}

div.item.one {
    opacity: 0.2;
    border-radius: 200px;
    overflow: hidden;
}

div.item.two {
    opacity: 0.5;
}

div.item.three {
    opacity: 1;
}

div.item.x {
    margin-left: auto;
}

div.item.y {
    margin-left: auto;
    margin-right: auto;
}

div.item.z {
    opacity: 0;
}

div.item {
    display: flex;
    flex-wrap: wrap;
}

div.item {
    display: flex;
    flex-wrap: wrap;
}