/* Setup- Default */

body {
    background-color: black;
    background-image: url("bluewall.jpg");
    color: white;
    margin: 10px;
    padding: 0px;
    font-size: 20px;
    line-height: 21px;
}

div {
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* typography */

div.largetext {
    font-size: 100px;
    line-height: 90px;
}

div.mediumtext {
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 27.72px;
}

div.semimediumtext {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 22px;
}

div.smalltext {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 30px;
}

div.padding {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

div.serif {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.sans {
    font-family: Arial, Helvetica, sans-serif;
}

div.mono {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* colors */

div.textblue {
    color: blue;
}

div.textred {
    color: red;
}

div.textpink {
    color: magenta;
}

div.textblack {
    color: black;
}

div.textbeige {
    color: beige;
}

div.bggray {
    background-color: gray;
}

div.bgwhite {
    background-color: white;
}

div.bgblack {
    background-color: black;
}

/* widths */

div.w100 {
    width: 100%;
}

div.w80 {
    width: 80%;
}

div.w75 {
    width: 75%;
}

div.w66 {
    width: 66.666%;
}

div.w60 {
    width: 60%;
}

div.w50 {
    width: 50%;
}

div.w40 {
    width: 40%;
}

div.w33 {
    width: 33.333%;
}

div.w25 {
    width: 25%;
    padding: 5px;
}

div.w20 {
    width: 20%;
}

/* my design */

div.container {
    display: flex;
    flex-wrap: wrap;
}

div.page {
    height: 100vh; /* px is for fixed size. vh(different from %) is for full screen size*/
    overflow: scroll; /*hidden = no scroll/ cut somewhere */
}

div.headline {
    text-align: center;
}

div.body {
    margin-left: 100px;
}

div.image {
    margin-left: auto;
    margin-right: auto;
}

div.side {
    margin-left: auto;
}

div.middle {
    margin-left: auto;
    margin-right: auto;
}

div.title {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}

div.body {
    line-height: 50px;
}

div.heightmedium{
    line-height: 100px;
}

div.padding100{
    padding-bottom: 100px;
}